.game {
	padding: 1mm;
	overflow: hidden;

	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"P1 . P3"
		"Game Game Game"
		"P4 . P2";

	background: url(/assets/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	/* background: url(/assets/background.webp); */
	/* background-repeat: repeat; */

	/* If landscape */
	@media only screen and (orientation: landscape) {
		grid-template-areas:
			"P1 Game P3"
			". Game ."
			"P4 Game P2";
	}

}


#Board {
	grid-area: Game;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;

	>canvas {
		border: 1mm solid #663300;
		border-radius: 3mm;

		height: auto;
		width: auto;
		max-height: 100%;
		max-width: 100%;
	}
}