.player {
	border-color: inherit;
	min-height: 100%;
	display: flex;

	&.north {
		flex-direction: column;
	}

	&.south {
		flex-direction: column-reverse;
	}





	.playerName {
		grid-area: Name;
		padding: 0.25em;

		span {
			padding: 0.25em;
			background: #00000080;
			border-radius: 5px;
			color: white;
			text-wrap: nowrap;
		}
	}


	.avatar {
		margin: 0.25em 0;
		width: 2cm;
		height: 2cm;
		border-radius: 100%;
		border: 1mm solid;
		border-color: var(--color);
		background: wheat;
		grid-area: Avatar;
	}

	.dicesContainer {
		display: flex;
		flex-direction: row;
		gap: 5mm;
		padding: 5mm;
		border-radius: 5mm;
		background: color-mix(in srgb, var(--color) 60%, transparent);
		position: relative;
		grid-area: Dices;

		/* If landscape */
		@media only screen and (orientation: landscape) {
			flex-direction: column;
		}

		/* Caret on top */
		&::after {
			content: "";
			position: absolute;
			left: 50%;
			border: 10px solid transparent;
		}
	}
}

.player {
	display: grid;
	align-items: center;
	justify-items: center;

	@media only screen and (orientation: portrait) {

		&.north {
			&.west {
				grid-template-columns: auto 1fr;
				grid-template-areas:
					"Avatar Dices"
					"Name .";

				.dicesContainer {
					margin-left: 10px;

					&::after {
						left: 0;
						transform: translateX(-100%) translateY(100%);
						border-right: 10px solid color-mix(in srgb, var(--color) 60%, transparent);
					}
				}
			}

			&.east {
				grid-template-columns: 1fr auto;
				grid-template-areas:
					"Dices Avatar"
					". Name";

				.dicesContainer {
					margin-right: 10px;

					&::after {
						right: 0;
						transform: translateX(100%) translateY(100%);
						border-left: 10px solid color-mix(in srgb, var(--color) 60%, transparent);
					}
				}
			}
		}


		&.south {
			&.west {
				grid-template-columns: auto 1fr;
				grid-template-areas:
					"Name ."
					"Avatar Dices";

				.dicesContainer {
					margin-left: 10px;

					&::after {
						left: 0;
						transform: translateX(-100%) translateY(100%);
						border-right: 10px solid color-mix(in srgb, var(--color) 60%, transparent);
					}
				}
			}

			&.east {
				grid-template-columns: 1fr auto;
				grid-template-areas:
					". Name"
					"Dices Avatar";

				.dicesContainer {
					margin-right: 10px;

					&::after {
						right: 0;
						transform: translateX(100%) translateY(100%);
						border-left: 10px solid color-mix(in srgb, var(--color) 60%, transparent);
					}
				}
			}
		}
	}

	/* If landscape */
	@media only screen and (orientation: landscape) {
		&.north {
			grid-template-rows: auto auto 1fr;
			grid-template-areas: "Name" "Avatar" "Dices";


			.dicesContainer {
				margin-top: 10px;

				&::after {
					top: 0;
					transform: translateX(-50%) translateY(-100%);
					border-bottom: 10px solid color-mix(in srgb, var(--color) 60%, transparent);

				}
			}
		}


		&.south {
			grid-template-rows: 1fr auto auto;
			grid-template-areas: "Dices" "Avatar" "Name";

			.dicesContainer {
				margin-bottom: 10px;

				&::after {
					bottom: 0;
					transform: translateX(-50%) translateY(100%);
					border-top: 3mm solid color-mix(in srgb, var(--color) 60%, transparent);
				}
			}
		}
	}


}

.playerTypeButton {
	padding: 5mm;
	font-size: 2em;
}

.myDialog::backdrop {
	background-image: linear-gradient(45deg, magenta, rebeccapurple, dodgerblue, green);
	/* --hdr-gradient: linear-gradient(45deg, color(display-p3 25% 25% 100%) 0%, color(display-p3 100% 85% 30%) 33%, oklch(80% 0.3 163) 66%, oklch(80% 0.3 112) 100%);
	--sdr-gradient: linear-gradient(to right, #4040ff 0%, #ffd713 33%, #00f382 66%, #c8ca00 100%);
	background: var(--sdr-gradient); */

	animation: gradient 15s ease infinite;
	background-size: 400% 400%;

	opacity: 0.75;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	100% {
		background-position: 100% 50%;
	}
}